@font-face {
    font-family: 'Japanese';
    src: url('japanese-brush.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Samurai';
    src: url('samurai.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
